# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# OS specific artifacts
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*Zone.Identifier

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# UV 
.python-version